<template>
  <div>
    <template v-if="page">
      <template v-for="(block, index) in page.blocks">
        <div :key="index">
          <component
            :is="block.component"
            :value="block.content"
            :id="block.id"
          />
        </div>
      </template>
    </template>

  </div>
</template>

<script>
export default {
  fetch() {
    this.$fire.database.ref("pages/home").once("value", (snapshot) => {
      let val = snapshot.val();
      if (val) {
        this.page = val;
      }
    });
  },
  fetchOnServer: false,
  data() {
    return {
      page: null,
    };
  },
};
</script>
