<template>
  <section class="text-gray-600 body-font bg-pink-200">
    <div class="container px-5 py-24 mx-auto ">
      <h1 class="title-font text-3xl font-medium text-gray-900 mb-3 text-center">
        Our Schedule
      </h1>
      <div class="flex flex-wrap sm:-m-4 -mx-4 -mb-10 -mt-4 items-center justify-center">
        <template v-for="(item, key, index) in classes">
          <div
            class="p-4 md:w-1/4 sm:mb-0 mb-6 text-center sm:w-1/2"
            :key="index"
          >

            <div data-aos="zoom-in-left">
              <div
                class="p-2 mt-5 rounded-t"
                :class="{[`bg-${background[index]}`]: background[index] }"
              >
                <h2 class="text-xl font-medium title-font text-white ">
                  {{key}}
                </h2>
              </div>
              <div class="p-2 rounded-b bg-gray-50">
                <p class="text-base leading-relaxed mt-2 text-lg font-bold">
                  {{item.description}}
                </p>

              </div>
            </div>

          </div>
        </template>
      </div>
    </div>

  </section>
</template>

<script>
import groupBy from "lodash/groupBy";
export default {
  fetch() {
    this.$fire.firestore
      .collection("classes")
      .get()
      .then((querySnapshot) => {
        let classes = [];
        querySnapshot.forEach((doc) => {
          if (doc.data().active) {
            classes.push({
              key: doc.id,
              ...doc.data(),
            });
          }
        });
        let groupedClasses = groupBy(classes, "ageGroup");
        groupedClasses = Object.keys(groupedClasses)
          .sort(function (a, b) {
            return groupedClasses[a][0].minAge - groupedClasses[b][0].minAge;
          })
          .reduce((obj, key) => {
            obj[key] = groupedClasses[key];
            return obj;
          }, {});

        this.classes = groupedClasses;
      })
      .catch((error) => {
        console.log("Error getting documents: ", error);
      });
  },
  fetchOnServer: false,
  data() {
    return {
      classes: null,
      background: ["purple-500", "purple-300", "pink-400", "red-500"],
    };
  },
};
</script>
