<template>
  <section class="text-gray-600 body-font bg-gray-100">
    <div
      class="container px-5 py-24 mx-auto"
      data-aos="zoom-in-left"
    >
      <div class="text-center mb-20">
        <h1 class="sm:text-4xl text-2xl font-medium title-font text-gray-900 mb-4">
          {{content.title}}
        </h1>
        <p class="text-base leading-relaxed xl:w-3/4 lg:w-3/4 mx-auto text-gray-500s">
          {{content.description}}
        </p>
        <div class="flex mt-6 justify-center">
          <div class="w-16 h-1 rounded-full bg-indigo-500 inline-flex"></div>
        </div>
      </div>
      <div class="flex flex-wrap  sm: -mb-10 -mt-4 items-start justify-center">
        <template v-for="(item, index) in content.items">
          <div
            class="p-4 md:w-1/4 sm:mb-0 mb-6 text-center w-full "
            :key="index"
            data-aos="zoom-in-right"
          >
            <div class="rounded-t h-72 overflow-hidden bg-white ">
              <img
                v-if="!item.image"
                alt="content"
                class="object-cover object-center h-full w-full"
                src="https://dummyimage.com/1203x503"
              />
              <img
                v-else
                alt="content"
                class="object-contain object-center h-full mx-auto"
                :src="item.image"
              />
            </div>

            <div
              class="p-2"
              :style="{backgroundColor: item.background}"
            >
              <h2 class="text-xl font-medium title-font text-white ">
                {{item.title.toUpperCase()}}
              </h2>
            </div>
            <div class="p-2 bg-gray-200">
              <p class="text-base leading-relaxed mt-2 text-lg font-bold">
                {{item.description}}
              </p>

            </div>
            <div
              class="p-2 bg-white"
              v-if="classes"
            >
              <template v-for="(cla, key) in classes[item.title]">
                <div
                  :key="key"
                  class="p-6"
                >

                  <div class="h-24 w-24 mx-auto mt-5">
                    <img
                      class="rounded-full shadow-sm bg-pink-50 p-4"
                      :src="findSrc(cla.name.split(' (')[0])"
                    />
                  </div>

                  <h4 class="text-lg font-bold text-pink-500">{{cla.name.split(' (')[0]}}</h4>
                  <div class="flex items-center justify-between mt-5">
                    <div class="font-bold">
                      {{cla.day}}
                    </div>
                    <div class="text-gray-500 flex items-center">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="h-4 w-4"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke="pink"
                      >
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="2"
                          d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z"
                        />
                      </svg>
                      <div>
                        {{cla.startTime}} - {{cla.endTime}}
                      </div>
                    </div>
                  </div>
                </div>

              </template>
            </div>
          </div>
        </template>
      </div>

    </div>
  </section>
</template>


<script>
import groupBy from "lodash/groupBy";
import { blocks } from "../../config/blocks";
const index = 9 - 1;
export default {
  props: ["value"],
  fetch() {
    this.$fire.firestore
      .collection("classes")
      .get()
      .then((querySnapshot) => {
        let classes = [];
        querySnapshot.forEach((doc) => {
          if (doc.data().active) {
            classes.push({
              key: doc.id,
              ...doc.data(),
            });
          }
        });
        let groupedClasses = groupBy(classes, "ageGroup");
        groupedClasses = Object.keys(groupedClasses)
          .sort(function (a, b) {
            return groupedClasses[a][0].minAge - groupedClasses[b][0].minAge;
          })
          .reduce((obj, key) => {
            obj[key] = groupedClasses[key];
            return obj;
          }, {});

        this.classes = groupedClasses;
      })
      .catch((error) => {
        console.log("Error getting documents: ", error);
      });
  },
  fetchOnServer: false,
  data() {
    return {
      content: blocks.content[index].content,
      classes: null,
      icons: {
        Ballet: "ballet.png",
        "Hip Hop": "hip-hop.png",
        Jazz: "jazz.png",
        "Song & Dance": "song-&-dance.png",
      },
    };
  },
  mounted() {
    this.content = this.value;
  },
  watch: {
    value(newValue) {
      this.content = newValue;
    },
  },
  methods: {
    findSrc(type) {
      return this.icons[type] ? `/images/${this.icons[type]}` : "";
    },
  },
};
</script>