<template>
  <section class="text-gray-600 body-font bg-pink-500">
    <div class="container px-5 py-24 mx-auto">
      <div class="lg:w-2/3 flex flex-col sm:flex-row sm:items-center items-start mx-auto">
        <div class="flex-grow sm:pr-16 text-2xl font-medium title-font ">
          <h2 class="text-gray-100">
            WHATEVER YOUR MOOD IS…
          </h2>
          <h3 class="text-5xl text-gray-700">
            … We’ve got a Dance Class for it!

          </h3>
        </div>

        <button class="flex-shrink-0 text-white  border-0 py-2 px-8 focus:outline-none hover:bg-purple-500 bg-black rounded text-lg mt-10 sm:mt-0" @click.prevent="navigateTo('https://trial.performerssuite.com')">
          Sign Up for Free Trial
        </button>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  methods: {
    navigateTo(link) {
      window.open(link, "_blank");
    },
  },
}
</script>