<template>
  <section
    class="text-gray-600 body-font bg-gradient-to-r from-pink-50 via-purple-100 to-pink-50"
    :id="id"
  >
    <div class="container px-5 py-24 mx-auto flex flex-wrap items-center">
      <div class="lg:w-1/3 w-full mb-10 lg:mb-0 overflow-hidden">
        <img
          v-if="content.featuredImage === '' "
          alt="feature"
          class="object-cover object-center h-full w-full"
          src="https://dummyimage.com/460x500"
        />
        <img
          v-else
          alt="feature"
          class="object-cover object-center h-full w-full"
          :src="content.featuredImage"
        />
      </div>
      <div class="flex flex-col flex-wrap lg:py-6 -mb-10 lg:w-2/3 lg:pl-12 lg:text-left text-center">
        <template v-for="(item, index) in content.items">
          <div
            class="flex flex-col mb-10 lg:items-start items-center"
            :key="index"
          >

            <div class="flex-grow">
              <h2 class="text-gray-900 text-xl title-font text-pink-400 font-medium mb-3">
                {{item.title}}
              </h2>
              <p class="leading-relaxed text-base">
                {{item.description}}
              </p>

            </div>
          </div>
        </template>
      </div>
    </div>
  </section>
</template>

<script>
import { blocks } from "../../config/blocks";
const index = 9 - 1;
export default {
  props: ["value", "id"],
  data() {
    return {
      content: blocks.feature[index].content,
    };
  },
  mounted() {
    this.content = this.value;
  },
  watch: {
    value(newValue) {
      this.content = newValue;
    },
  },
};
</script>
