<template>
  <header class="text-gray-600 body-font">
    <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center ">
      <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
        <svg
          v-if="content.logo === ''"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full"
          viewBox="0 0 24 24"
        >
          <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
        </svg>
        <img
          width="50"
          :src="content.logo"
          v-else
        />
        <span class="ml-3 text-xl">{{ content.title }}</span>
      </a>
      <nav class="md:mr-auto md:ml-4 md:py-1 md:pl-4 md:border-l md:border-gray-400	flex flex-wrap items-center text-base justify-center">
        <template v-for="(link, index) in content.links">
          <a
            :href="link.href"
            class="mr-5 hover:text-gray-900"
            :key="index"
          >{{ link.label }}</a>
        </template>

      </nav>
      <button
        class="inline-flex items-center bg-pink-500 border-0 py-1 px-3 focus:outline-none hover:bg-pink-800 rounded text-white mt-4 md:mt-0"
        @click.prevent="navigateTo(content.button.link)"
      >
        {{ content.button.label }}
        <svg
          class="w-4 h-4"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M9 5l7 7-7 7"
          ></path>
        </svg>
      </button>
    </div>
  </header>
</template>

<script>
import { blocks } from "../../config/blocks";
const index = 2 - 1;
export default {
  props: ["value"],
  data() {
    return {
      content: blocks.header[index].content,
    };
  },
  mounted() {
    this.content = this.value;
  },
  watch: {
    value(newValue) {
      this.content = newValue;
    },
  },
  methods: {
    navigateTo(link) {
      window.open(link, "_blank");
    },
  },
};
</script>
