<template>
  <section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-wrap -m-4">
        <div class="lg:w-1/3 lg:mb-0 mb-6 p-4">
          <div class="h-full text-center">
            <img
              alt="testimonial"
              class="w-20 h-20 mb-8 object-cover object-center rounded-full inline-block border-2 border-gray-200 bg-gray-100"
              src="https://dummyimage.com/302x302"
            />
            <p class="leading-relaxed">
              Edison bulb retro cloud bread echo park, helvetica stumptown
              taiyaki taxidermy 90's cronut +1 kinfolk. Single-origin coffee
              ennui shaman taiyaki vape DIY tote bag drinking vinegar cronut
              adaptogen squid fanny pack vaporware.
            </p>
            <span
              class="inline-block h-1 w-10 rounded bg-indigo-500 mt-6 mb-4"
            ></span>
            <h2
              class="text-gray-900 font-medium title-font tracking-wider text-sm"
            >
              HOLDEN CAULFIELD
            </h2>
            <p class="text-gray-500">Senior Product Designer</p>
          </div>
        </div>
        <div class="lg:w-1/3 lg:mb-0 mb-6 p-4">
          <div class="h-full text-center">
            <img
              alt="testimonial"
              class="w-20 h-20 mb-8 object-cover object-center rounded-full inline-block border-2 border-gray-200 bg-gray-100"
              src="https://dummyimage.com/300x300"
            />
            <p class="leading-relaxed">
              Edison bulb retro cloud bread echo park, helvetica stumptown
              taiyaki taxidermy 90's cronut +1 kinfolk. Single-origin coffee
              ennui shaman taiyaki vape DIY tote bag drinking vinegar cronut
              adaptogen squid fanny pack vaporware.
            </p>
            <span
              class="inline-block h-1 w-10 rounded bg-indigo-500 mt-6 mb-4"
            ></span>
            <h2
              class="text-gray-900 font-medium title-font tracking-wider text-sm"
            >
              ALPER KAMU
            </h2>
            <p class="text-gray-500">UI Develeoper</p>
          </div>
        </div>
        <div class="lg:w-1/3 lg:mb-0 p-4">
          <div class="h-full text-center">
            <img
              alt="testimonial"
              class="w-20 h-20 mb-8 object-cover object-center rounded-full inline-block border-2 border-gray-200 bg-gray-100"
              src="https://dummyimage.com/305x305"
            />
            <p class="leading-relaxed">
              Edison bulb retro cloud bread echo park, helvetica stumptown
              taiyaki taxidermy 90's cronut +1 kinfolk. Single-origin coffee
              ennui shaman taiyaki vape DIY tote bag drinking vinegar cronut
              adaptogen squid fanny pack vaporware.
            </p>
            <span
              class="inline-block h-1 w-10 rounded bg-indigo-500 mt-6 mb-4"
            ></span>
            <h2
              class="text-gray-900 font-medium title-font tracking-wider text-sm"
            >
              HENRY LETHAM
            </h2>
            <p class="text-gray-500">CTO</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
